# editorconfig.org

# top-most file
root = true

# Default settings:
# A newline ending every file
# Use 4 spaces as indentation
[*]
insert_final_newline = true
indent_style = space
indent_size = 4

# XML files
[*.{xml,csproj,resx}]
indent_size = 2
