# editorconfig.org

# top-most file
root = true

# Default settings:
# A newline ending every file
# Use 4 spaces as indentation
[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# C# coding style
[*.cs]
dotnet_sort_system_directives_first = true
csharp_using_directive_placement = inside_namespace

# XML files
[*.{xml,csproj,resx}]
indent_size = 2
